[package]
name = "dojo_examples"
version = "0.1.0"
cairo-version = ">=2.0.0-rc0"


[cairo]
sierra-replace-ids = true

[dependencies]
dojo = { git = "https://github.com/dojoengine/dojo", tag = "nightly-19293e5e065e14ecda25118b1e35a486de638fe4"}

[[target.dojo]]

[tool.dojo]
initializer_class_hash = "0xbeef"

[tool.dojo.env]
rpc_url = "http://localhost:5050/"
account_address = "0x06f62894bfd81d2e396ce266b2ad0f21e0668d604e5bb1077337b6d570a54aea"
private_key = "0x07230b49615d175307d580c33d6fda61fc7b9aec91df0f5c1a5ebe3b8cbfee02"

keystore_path = "../keystore.json"
keystore_password = "password"